.replyForm {
    height: auto;
    border-bottom: 1px solid #DB6A6A;
    margin-bottom: 15px;
}

.replyTop {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.replyBasicInfo {
    padding-left: 10px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.replyButton {
    display: flex;
    justify-content: flex-end;
    padding-right: 10px;
}

.replyBottom {
    /*border-bottom: 1px solid #DB6A6A;*/
    height: 90px;
    padding-left: 15px;
}