.replyWriteForm {
    /*border-bottom: 1px solid #DB6A6A;*/
    margin-bottom: 20px;
}

.replyWriteTop {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.replyInputForm {
}

.replyInputForm {
    width: 1275px;
    display: flex;
}

.replyWriterForm input {
    width: 200px;
    border: 1px solid #DB6A6A;
}

.replyPasswordForm input {
    width: 200px;
    border: 1px solid #DB6A6A;
}

.replyTextAreaForm textarea {
    width: 1268px;
    border: 1px solid #DB6A6A;
}