.baseForm {
    /*border: 1px solid black;*/
}

.list {
    border: 1px solid #DB6A6A;
    /*width: ;*/
    height: 100px;
    display: flex;
}

.regionItem {
    border-right: 1px solid #DB6A6A;
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #DB6A6A;
    font-weight: bold;
}

.photoItem {
    width: 100px;
}

.postItem {
    display: flex;
    flex-direction: column;
    /*border: 1px solid blue;*/
    width: 1000px;
    /*justify-content: space-between;*/
    /*justify-content: center;*/
    padding: 10px;
}

.titleItems {
    /*border: 1px solid #DB6A6A;*/
    padding-left: 10px;
    padding-right: 10px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.titleItem {
    font-size: 22px;
    font-weight: bold;
    /*padding: 5px;*/
}

.countItem{

}

.contentItem {
    border: 1px solid #DB6A6A;
    padding: 10px;
    height: 70px;
    color: #3B404B;
}

.viewItem {
    /*border: 1px solid #61dafb;*/
    width: 110px;
    justify-content: center;
    display: flex;
    align-items: center;
}